body{
	background-color:#59CAA8;
	color: #fff;
}

#druidz{
	background-color: #4B7932;
	color: #fff;
}

#druidz a{
	font-size: 2em;
	color: #2EDCC5;
}

.reqBox{
	width: 450px;
	height: 400px;
	border: 5px solid #E3D9D6;
	border-radius: 0 25% 0 25%;
	padding: 8px;
	margin: 0px 10px 10px 0px;
	background-color: #000;
	display: inline-block;
	vertical-align: top;
}

samp{
	color: #FF8517;
}

#topBox{
	width: 98%;
	min-width: 1024px;
	background-color: #000;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

#topBox a{
	color: #2EDCC5;
}

#topBox samp{
	font-size: 2.5em;
}

#flowBox{
	overflow: scroll;
}

#flowBox2{
	overflow: scroll;
}

#flowBox3{
	overflow: scroll;
}

#flowBox4{
	overflow: scroll;
}

#dayDiv{
	text-align: center;
}

#commentsBox{
	font-style: italic;
}

form span{
	color: #EA0202;
}

.choices{
	color: #44DF1E;
}

.formButz{
	cursor: pointer;
}

.gamerPage{
	background-color: #0A0994;
}

.gamerPage a{
	color: #2AE9D0;
	font-size: 2em;
}

#totalRezBox{

}

#superResults{
	
}

#totalColBox{
	width: 75%;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#finalColBox{
	width: 75%;
	min-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#finalColBox span{
	color: #EC0F0F;
}